
<div class="row">
    <section class="main col-md-6 col-md-offset-3">
        <h1 style="font-family: 'Segoe UI';font-size:80px;">404</h1>
        <p>Sorry, page not found</p>
        <a href="/" class="btn btn-md btn-primary">Go to home</a>
    </section>
</div>
   